@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@config '../tailwind.config.js';
@import 'tailwindcss';

@layer components {
	.container {
		@apply mx-auto w-full px-5;
		@apply xl:max-w-[1440px];
	}

	.section {
		@apply xl:py-20 py-14;
	}
	*:focus-within {
		outline: 0;
	}

	.block-title {
		@apply text-3xl font-bold uppercase;
		@apply transition-all duration-500;
	}
}
@layer utilities {
	[class*='ratio-'] {
		@apply relative h-0 block overflow-hidden;
	}
	[class*='ratio-'] img,
	[class*='ratio-'] iframe,
	[class*='ratio-'] video,
	[class*='ratio-'] .ratio-frame,
	[class*='ratio-'] picture {
		@apply object-cover;
		@apply transition-all absolute top-0 left-0 w-full h-full;
	}
	[class*='ratio-contain'] img,
	[class*='ratio-contain'] video,
	[class*='ratio-contain'] picture {
		@apply object-contain;
	}
	[class*='ratio-'] iframe {
		@apply object-none;
	}
}

@theme {
	--color-transparent: transparent;
	--color-background: #1a1a1d;
	--color-primary: #222831;
	--color-secondary: #31363f;
	--color-tertiary: #76abae;
	--color-neutral-100: #eeeeee;
	--font-sans: 'Poppins', serif;
}

body {
	@apply font-sans;
}
:root {
	/* color-scheme: light dark; */
	background-image: url('./assets/background.png');
	background-size: 6vw;
	@apply bg-background text-white bg-repeat bg-blend-multiply;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* 
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
header:before {
	content: '';
	background-color: transparent;
	background-image: radial-gradient(transparent 1px, rgb(15, 17, 21) 1px);
	background-size: 4px 4px;
	backdrop-filter: blur(3px);
	mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
	opacity: 1;
	@apply absolute inset-0 transition-all duration-300 opacity-0;
}
header.active:before {
	@apply opacity-100;
}

header nav a {
	@apply block text-neutral-100 transition-all;
	@apply relative;
}
header nav a::before {
	content: '';
	@apply absolute bottom-0 w-0 left-0 h-0.5 bg-white transition-all duration-300;
}
header nav li:hover a::before {
	@apply w-full;
}
header nav a::before {
	@apply absolute bottom-0 w-0 left-0 h-0.5 bg-white;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.popup-content.popup-content {
	border: 0;
	padding: 0;
	background-color: transparent;
	@apply max-w-[680px] w-full px-5;
}

.block-container {
	@apply fixed inset-0 w-screen h-screen overflow-hidden -z-1;
}

#block {
	@apply w-[105vw] h-screen overflow-hidden;
	display: grid;
	grid-template-columns: repeat(auto-fill, 50px);
}

.block-item {
	@apply size-[50px];
	border: 0.5px solid rgba(255, 255, 255, 0.02);
}

.highlight {
	/* box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.05); */
	@apply border-tertiary/40;
	@apply -xl:hidden;
}
